#evo-tittle {
	font-family: 'Exo', 200;
}
#logo {
	width: 48px;

}

#div-logo{
	margin-top:-20px;

}

#div-desc{

    margin-top: -25px;
    margin-left: 40px;

}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
	background-color: #EC0F17;

}

#id {

    width: 80px;
    text-align: center;
}