<%= app_header %>

<div class="container">

	<!-- <div class="btn btn-lg btn-success" onclick="rodar()"> Rodar </div> -->


<div id="results" class="row">

</div>

</div>

<%= app_footer %>


<script>

function rodar(){


	console.log("here!");


}

</script>
